.FullRunningPlot {
	background-color: white;
	border-radius: 15px;

	padding: 15px;

	margin-bottom: 15px;
}

.FullRunningPlot > .plotcontainer {
	display: flex;
	justify-content: center;
}

.FullRunningPlot > .plotcontainer > .inner {
	width: calc(100% - 8em);
}

.FullRunningPlot .Table {
	width: 8em;
}

.FullRunningPlot .Table table {
	width: 100%;
}