.Map .plotcontainer, .Map {
	height: 640px;
	position: relative;
}

.Map * {
	z-index: 0;
}

.map-container {
	width: 100%;
	position: relative;
}

.map-container .toolbar, .map-container .notice {
	position: absolute;
	background-color: #ffffff;
	width: auto;

	padding: 10px;

	border-radius: 10px;

	bottom: 15px;
    left: 50%;

    transform: translateX(-50%);
}

.map-container .notice {
	bottom: auto;
	top: 15px;
}

.map-container .toolbar button {
	margin-right: 1em;
}

.map-container .toolbar button:last-child {
	margin-right: 0;
}

.map-with-leaderboard {
	height: 640px;
}