.row.no-gutters, .row.no-gutters .col {
  margin-right: 0;
  margin-left: 0;
  
  padding-right: 0;
  padding-left: 0;
}

.bold {
  font-weight: bold;
}

.female {
  background-color: #f6d6d6;
}

.leaderboard {
  max-height: 100%;
  overflow-y: scroll;
}