.row.no-gutters, .row.no-gutters .col {
  margin-right: 0;
  margin-left: 0;
  
  padding-right: 0;
  padding-left: 0;
}

.bold {
  font-weight: bold;
}

.male, .men {
  background-color: #656FBA;
  color: #ffffff;
}

.female, .women {
  background-color: #F7F2A3;
}

.leaderboard {
  max-height: 100%;
  overflow-y: scroll;
}

.label-btn {
  pointer-events: none;
}

.estimator {
  height: 200px;
  width: 100%;
}

.innersplit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.innersplit .info {

}

/*.men {
  background-color: #69b3a2;
  color: #111;
}

.women {
  background-color: #404080;
  color: #ffffff;
}*/

p.offset {
  padding-right: 1em;
}

.toolbar input[type="range"] {
  width: 100%;
}

.toolbar.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results img {
  width: 16px;
  height: 16px;

  border-radius: 50%;
  margin-left: 5px;

  vertical-align: -15%;
  display: inline-block;
}

.plotcontainer {
  position: relative;
}

.tooltip {
  color: #111 !important;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 7px 5px 7px;
  border: 2px solid #111;
}

.tooltip.men {
  border-color: #656FBA;
}

.tooltip.women {
  border-color: #F7F2A3;
}