html, body {
	width: 100%;
	min-height: 100%;

	margin: 0;
}

body {
	background-color: #eee;
	font-family: 'Rubik', sans-serif;

	box-sizing: border-box;
}

main {
	padding: 1em 30% 1em 30%;
	box-sizing: border-box;
}

.Plot {
}

.Plot svg {
	width: 100%;
	height: 100%;
}

.Plot .paused {
	animation-play-state: paused;
}

.title {
	margin-bottom: 15px;
	font-size: 1.2em;
	font-weight: 400;
}

/*
.toolbar {
	margin-top: 15px;
	height: 50px;
}

.toolbar button {
	width: 3em;
	height: 3em;

	margin-right: 1em;

	outline: none;

	border-radius: 50%;

	border: none;

	border: 1px solid #111;
}

.toolbar input[type="range"] {
	width: 100%;
}

.toolbar.slider {
	display: flex;
	justify-content: center;
	align-items: center;
}*/