html, body {
	width: 100%;
	min-height: 100%;

	margin: 0;
}

body {
	background-color: #eee;
	font-family: 'Rubik', sans-serif;

	box-sizing: border-box;
}

main {
	padding: 1em 30% 1em 30%;
	box-sizing: border-box;
}

.Plot {
}

.Plot svg {
	width: 100%;
	height: 100%;
}